.App {
  background-color: #e7ebf0;

  height: 798px;
}

.dialogs {
  background-color: #FDFFF9;

  border-right: 1px solid #E4E5E0;
}

.section > div {
  height: 722px;
}

.history {
  background-color: #f5f5f5;

  display: flex;
  height: 100%;
  flex-direction: column;
}

.messages {
  flex: 1;

  border-radius: 0;

  background-color: #FDFFF9;

  overflow-y: auto;

  padding: 0 15%;
}

.text-area {
  flex: 0 1 8vh;

  padding: 1.25rem 2.5rem 1.25rem 1.5rem;

  border-radius: 0;
}

.media {
  margin: 15px;
}

.dialogs li {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

.dialogs li:hover {
  background-color: #E4E5E0;
  background-color: rgba(228, 229, 224, .3);
}

.user-pic img {
  border-radius: 50%;
}

/* history */
.message {
  padding: 8px 16px;

  max-width: 255px;
  margin-bottom: 20px;
  line-height: 24px;

  border-radius: 22px;
}

.from-them {
  background-color: #BEBFBB;
}

.clear {
  clear: both;
}


/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
